* {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "DM Sans", sans-serif;
  color: #2b292d;
  letter-spacing: -0.01em;
}

/* custom-grid-system */

/* css Reset */
a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  font-family: "DM-sans", sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  padding-left: 0;
  list-style: none;
  margin-left: 0;
}


p {
  font-size: 16px;
  line-height: 1.5;
  color: 2B292D;
  letter-spacing: 0.01em;
}

/* Reset */


/* Landing */
.landing {
  background-color: #FDDED8;
  text-align: center;
}

.landing-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-title {
  font-size: 40px;
  line-height: 1.0;
  letter-spacing: 0.05em;
  color: #2B292D;
  font-weight: 700;
  margin-bottom: 24px;
}

.landing-desc {
  margin-bottom: 24px;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #fff;
  background-color: #3040C4;
  text-align: center;
  font-weight: 700;
  margin-bottom: 24px;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}


.fill-button:hover {
  opacity: 50%;
}

.fill-button.inverted {
  background-color: #fff;
  color: #3040C4;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}


/* Service */
.service-title {
  font-size: 22px;
  line-height: 1.3636363636;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: #2B292D;
  margin-bottom: 16px;
}


.service-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: #2B292D;

}

.service-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-group.first {

  margin-bottom: 40px;
}

.service .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.service {
  background-color: #F4F5F7;
}

/* Program */
.program{
  padding: 80px 0;
}
.catagoty{
  color:#009B4D;
  font-weight: 700;
  margin-bottom: 8px;
}
.program  h1{
  font-size: 34px;
  line-height: 1.0588235294;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #2B292D;
  margin-bottom: 24px;
}
.program  p{
margin-bottom: 31px;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.01em;
}

#square{
  width: 290px;
  height: 291px;
  border-radius: 10px;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
#square:hover{
  background-color: #3141C5;
  color: white;
}
#Campus-photo{
  width: auto;
  height: 195px;

}
.boxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.program-title{
  font-size: 18px;
  line-height: 1.3333333333;
  font-weight: 700;
  letter-spacing: -0.02em;
}

/* Curriculum */
.curriculum-section{
  padding:80px 0 96px;
}
.curriculum .row:first-child {
  margin-bottom: 48px;
}

.curriculum .row:last-child .col-12:first-child {
  margin-bottom: 40px;
}

.curriculum .section-category {
  color: #0189d1;
}

.curriculum .section-desc {
  margin-bottom: 32px;
}

.curriculum-image {
  display: none;
  padding: 12px;
}

.curriculum-image img {
  display: block;
  width: 100%;
  height: auto;
}

.curriculum-detail-desc {
  font-size: 15px;
  line-height: 1.4666666667;
}




/* Subscription */


.subscription{
  width: 320px;
  height: 588px;
  background-color: #F2F8FA;
  text-align: center;
  padding: 40px 15px;

}
.sub-image-box{
  width: 290px;
  height: 240px;
}
.sub-image{
  width: 191.48px;
  height: 190px;
}
.sub-header{
  width: 290px;
  height: 96px;
  
 
}
.sub-header h1{
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2B292D;
  font-weight: 700;
}
.sub-header p{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  font-weight: 500;
}
.sub-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 132px;
}
.sub-form input{
  height: 48px;
  width: inherit;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #7B7B7E;
  text-align: left;
  margin-bottom: 8px;
}
.sub-form button{
  width: inherit;
  height: 48px;
  background-color: #3040C4;
  color: #FFFFFF;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.05em;
  font-weight: 700;
  margin-bottom: 8px;
  cursor: pointer;
}
.sub-form span{
  color: #7B7B7E;
  width: 268px;
  height: 20px;
  font-size: 13px;
  line-height: 1.5384615385;
}
.sub-bottom{
  text-decoration:underline;
  color: #3040C4;
  cursor: pointer;
}

.sub-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Footer */
.page-content{

  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  line-height: 1.7142857143;
  font-weight: 500;
  color: #807F81;
  cursor: pointer;
}




/* Footer */

/* Utilities */


/* Limit Bootstrap container size */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}

/* >= 768px */
@media screen and (min-width:768px) {
  p {
    font-size: 22px;
    line-height: 1.3636363636;
  }

  /*landing */
  .landing-title {

    font-size: 70px;
    line-height: 1.0285714286;
    margin-bottom: 32px;
  }

  .landing .button-group {
    font-size: 18px;
    line-height: 1.5555555556;
    margin-bottom: 32px;

  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

/*service */
.service .container{
  display: flex;
  flex-direction: column;
  height: 340px;

}
.service-title {
  font-size: 26px;
  line-height: 1.3076923077;
}

.service-desc {
  font-size: 22px;
  line-height: 1.4545454545;
  
}

.service-group-first {

  margin-bottom: 0;
}

/* program */

.program-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#square{
  margin-bottom: 0;
  margin-right: 32px;
}

.program{
  padding-top: 80px;
  padding-bottom: 93px;
}


.catagoty{
  font-size: 22px;
  line-height: 1.0909090909;
  margin-bottom: 16px;
}
.program  h1{
  font-size: 56px;
  line-height: 1;
  margin-bottom: 32px;
}
.program  p{
margin-bottom: 75px;
font-size: 22px;
line-height: 1.4545454545;
letter-spacing: -0.01em;
}

/* curriculum */
.curriculum .row:first-child {
  margin-bottom: 24px;
}

.curriculum .row:last-child .col-12:first-child {
  margin-bottom: 0;
}

.curriculum .section-desc {
  margin-bottom: 72px;
}

.curriculum-image {
  display: block;
}

.curriculum-detail-desc {
  font-size: 18px;
  line-height: 1.4444444444;
}

   /*subscription */

   .sub-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .sub-flex{
    width: 530px;
    height: 236px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .subscription{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 80px 0px;
  }
  
  .sub-image-box{
    display: flex;
    width: 370px;
    height: 300px;
  }
  .sub-image{
    width: 287px;
    height: 285px;
  }
  .sub-header{
    width: 530px;
    height: 236px;
  }
  .sub-header h1{
    font-size: 40px;
    letter-spacing: -0.05em;
    margin-bottom: 16px;
    
  }
  .sub-header p{
    font-size: 22px;
    line-height: 1.4545454545;
  }
  .sub-form{
    display:inline-block;
    width: 530px;
    height: 84px;
  }
  .sub-form input{
    height: 56px;
    width: 362px;
    font-size: 18px;
    line-height: 1.3333333333;
    margin-bottom: 0px;
  }
  .sub-form button{
    width: 160px;
    height: 54.58px;
    font-size: 18px;
    line-height: 1.3333333333;
    letter-spacing: -0.02em;
    margin-bottom: 0px;
  }
  .sub-form span{
    margin-top: 4px;
    height: 24px;
    font-size: 14px;
    line-height: 1.7142857143;
  }
  .subscription .container{
    margin: 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }
 /*footer */
  .page-content{
    display: flex;
    flex-direction: row;
    text-align: left;
  }
  .page-content a{
    margin-right: 16px;
  }

}



















