* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.02em;
  background-color: black;

}

a {
  font-size: 18px;
  line-height: 20px;
  color: #8492a6;
  text-decoration: none;
  display: inline-block;
}
/* ▼ WHERE YOUR CODE BEGINS */
ul{
list-style: none;
padding-left: 0;
display: flex;
align-items: center;
flex-wrap: nowrap;
}

.tab-menu{
  border-bottom:1px solid #E5EAEF;
  background-color: white;
  max-width: 540px;
}
.tab-menu-item{
  margin-right: 16px;

}

.tab-menu-item a{
  padding: 16px 20px;
}
.tab-menu-item.selected a{
  color: #2860E1;
  border-bottom: 2px solid #2860E1;
  font-weight: 500;
}