* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.02em;
  background-color: black;

}

h1 {
  font-size: 16px;
  font-weight: 400;
  color: #1f2d3d;
  line-height: 1.25;
}

strong {
  font-size: 14px;
  font-weight: 400;
  color: #afb3b9;
  line-height: 1.4285714286;
}

p {
  font-size: 16px;
  color: #79818b;
  line-height: 1.5;
}

/* ▼ WHERE YOUR CODE BEGINS */

.card{
  padding: 20px;
  background-color: #fff;
  max-width: 540px;
  
}
.card-user{
  border-radius: 50%;
  width: 44px;
  height: 44px;
  float: left;
  margin-right: 20px;
}

.card-content{
  float: left;
}


.card-content strong{
  padding-top: 4px;
  display: block;
}
.card-content p{
  display: block;
  padding-top: 12px;
}
.clearfix::after{
  content: '';
  display: block;
  clear: left;
}