:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-blue: #3b88c3;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;
  
    /* size */
    --base-space: 8px;
    --size-button: 60px;
    --size-border: 4px;
    --size-thumbnail: 50px;
    --font-size: 18px;
  
    /* annimation */
    --animation-duration: 300ms;
  }
  body{
    height: 100vh;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  .logos{
    background-color: transparent;
    border: none;
    outline: none;
  }

  .btn:hover,
  .logos:hover{
    transform:scale(1.1);
    cursor: pointer;
  }

  .button{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-left: var(--base-space);
  }
  
  .btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform var(--animation-duration) ease;
    margin-right: var(--base-space);
  }

  section{
    display: flex;
    justify-content: space-between;
    padding: 30px;
  }
  
  .btn_color_blue{
    background-color: var(--color-blue);
    font-size: var(--font-size);
    border-radius: var(--size-border);
    padding: calc(var(--base-space) *2);
   
  }
  .btn_color_yellow{
    background-color: var(--color-yellow);
    font-size: var(--font-size);
    border-radius: var(--size-border);
    padding: calc(var(--base-space) *2);
  
  }
  .btn_color_pink{
    background-color: var(--color-pink);
    font-size: var(--font-size);
    border-radius: var(--size-border);
    padding: calc(var(--base-space) *2);
   
  }












  .items {
    width: 60%;
    height: 60%;
    list-style: none;
    padding-left: 0;
    overflow-y: scroll;
    background-color: var(--color-white);
  }