
html{
    position:relative;
    min-height: 100%;
    margin: 0px;
    background-color: rgb(255, 255, 255);
}
body {
    min-height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;

}
.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(252, 7, 27);
    padding: 8px 12px;
    padding-left: 0px;

}

.navbar__logos {
    font-size: 24px;
    color: rgb(255, 255, 255);

}

.navbar__logos i {
    color: rgb(168, 119, 27);
}


.navbar__menu li {
    padding-left: 0px;
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: rgb(247, 175, 41);
    border-radius: 6px;

}
metadata{
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.navbar__togleBtn {
    display: flex;
    position: absolute;
    right: 28px;
    top: 8px;
    font-size: 24px;
    color: wheat;
}

.navbar__icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 24px;
    padding-left: 0;
}

.navbar__icons li {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding-left: 0px;
    padding-right: 7px;
    list-style: none;
}

.navbar__icons i {
    color: rgb(11, 12, 12);
    font-size: 20px;
    
}


@media screen and (max-width:2032px) {
    .nav_bar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
.topLogo{

    display: flex;
    background-color: red;
    
}
.navbar__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .nav___menu {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: rgb(43, 44, 44);
        width: 100%;
    }

    .nav__menu li {
        
        width: 100%;
        text-align: center;

        padding: 16px 24px;
    }

    .nav___icon {
        display: none;
        flex-direction: row;
        justify-content: center;
        width: 100%;



    }

    .nav___icon li {

        list-style: none;

        padding: 8px 12px;
    }

    .navbar__togleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }

.footer{
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: auto;
        padding: 15px 0;
        text-align: start;
        color: rgb(43, 37, 37);
        background-color: rgb(235, 232, 232);
 }
 .Alert_{
     display: flex;
     justify-content:flex-start;
   
   
 }
 .myStatus{
     width: 10%;
     height: auto;
     
 }
 .myTickets{
    width: 10%;

 }
 .testCall{
    width: 10%;

 }
 .dropBtn{
    width: 10%;

 }
 .hold{
    width: 10%;
   
 }
 .topInfo{
     display: flex;
     justify-content: space-around;
     background-color: rgb(243, 243, 243);
     
 }
 .topContent{
     display: flex;
     justify-content: space-around;
     padding: 0;
 }

.firstInfo{
    display: flex;
    justify-content:flex-start;
    padding-left: 0;
    font-size: medium;
}
.secondInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.thirdInfo{
    display: flex;
    justify-content: flex-start;
    font-size: medium;
    
}